<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.portfoliotracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PortfolioTracker">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FinnhubService" >
        </service>

        <provider
            android:name=".HistoricalDataProvider"
            android:authorities="com.example.portfoliotracker.HistoricalDataProvider"
            android:enabled="true">

        </provider>
<!--        </receiver><receiver android:name=".MyBroadcastReceiver"-->
<!--            android:exported="true"-->
<!--            tools:ignore="Instantiatable">-->
<!--            <intent-filter>-->
<!--                <action android:name="DOWNLOAD_COMPLETE_1"/>-->
<!--                <action android:name="DOWNLOAD_COMPLETE_2"/>-->
<!--                <action android:name="DOWNLOAD_COMPLETE_3"/>-->
<!--                <action android:name="DOWNLOAD_COMPLETE_4"/>-->
<!--                <action android:name="DOWNLOAD_COMPLETE_5"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

    </application>

</manifest>